body {
	 
	background-image: url(../imagens/PRFundojogo.bmp);
}

.logo{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 35%;
	height: 120px;	
	margin-top: 10px;
}
.content-logo{
	width: 100%;
	height: 120px;	
}